.aboutUs{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 70px;
}
.hed{
    text-align: center;
    font-size: 17px;
}
.fotoAbout{
    margin: 10px auto;
    height: 500px;
}
.cont{
    display: flex;
    justify-content: center;
}
.cont p{
    margin: 60px;
}
.cont img{
    height: 50px;
}
@media screen and (max-width: 1150px) {
    .fotoAbout {
    height: 300px;
    }
}
@media screen and (max-width: 1050px){
    .cont{
        flex-direction: column;
    }
    .cont p{
        margin: 30px;
    }

}
@media screen and (max-width: 650px) {
    .fotoAbout {
        height: 150px;
    }
}