#basked{
    background: rgba(174, 176, 166, 0.8);
    display: none;
    z-index: 6;
    width: 40%;
    height: 100%;
    overflow: auto;

    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important;
}
#basked:target{
    display: flex;
    position: fixed;
    right: 0;
}
#basked .hi{
    text-align: center;
}
#basked .linkClose{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 19px;
    font-weight: bold;
    color: black;
    transition: 1s;
}
#basked a:hover{
    transition: 1s;
    color: red;
}
#basked .row{
    width: 100%;
}

.frontBasked{
    text-align: center;
}


.order{
    display: flex;
    flex-direction: column;
    /*margin-top: 10px;*/
    border-bottom: 1px black solid;
}
.orders form{
    display: flex;
    flex-direction: column;
}
.orders form input{
    text-align: center;
}
.sums {
    margin: 7px 0 7px 0 ;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.sums p{
    margin: 0 25px 0 0;
}
.sum{
    display: flex;
    justify-content: space-evenly;
}
.sums div{
    display: flex;
    justify-content: center;
}
.sums div p {
    margin: 2px;
}


@media screen and (max-width: 990px){
    .sums{
        display: flex;
        flex-direction: column;
        margin: 0 0 30px 0;
    }
    .sums p{
        margin: 0;
    }
}

@media screen and (max-width: 700px) {
    .order{
        display: block;
        border-bottom: 1px black solid;
        margin-top: 10px;
    }
}
@media screen and (max-width: 500px) {
   #basked {
       width: 70%;
   }
}




@keyframes slideLeft {
    0% {
        transform: translateX(150%);
    }
    50%{
        transform: translateX(-8%);
    }
    65%{
        transform: translateX(4%);
    }
    80%{
        transform: translateX(-4%);
    }
    95%{
        transform: translateX(2%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(150%);
    }
    50%{
        -webkit-transform: translateX(-8%);
    }
    65%{
        -webkit-transform: translateX(4%);
    }
    80%{
        -webkit-transform: translateX(-4%);
    }
    95%{
        -webkit-transform: translateX(2%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}