@import "grid.css";
body{
    margin: 0;
    background-color: lightsteelblue;
}
body h1{
    text-align: center;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
}
.enter form{
    display: flex;
    flex-direction: column;
}
.enter input{
    margin: 15px 0;
    text-align: center;
    border: 2px black solid;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    transition: 1s;

}
.enter form :nth-child(3):hover{
    background-color:black;
    color: white;
    transition: 1s;
}
.enter {
    text-align: center;
}

.menuAdm{
    display: flex;
    justify-content: center;
}
.menuAdm ul li{
    display: inline-block;
    margin: 15px;
    border: 1px black solid;
    padding: 10px;
    border-radius: 5px;
    transition: 1s;
    cursor: pointer;
}
.menuAdm ul li:hover{
    background: lightslategrey;
    color: white;
    transition: 1s;
}
.exit{
    border: 1px black solid;
    padding: 5px;
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 2;
    background: black;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    transition: 1s;
}
.exit:hover{
    background: lightslategrey;
    transition: 1s;
}

/*Content*/
.form_cont{
    display: flex;
    flex-direction: column;
}
.form_cont input{
    margin: 15px 0;
}
#yourId {
    width: 200px;
    height: 150px;
    position:relative; /* or fixed or absolute */
}
/*Content end*/