.showOne{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
}
.showOne img{
    margin: 10px auto;
    height: 400px;
    width: 500px;
}

.forBasked .numberProd{
    width: 35px;
}

.forBasked input{
    border-radius: 5px;
}