@import "shop.css";
@import "grid.css";
@import "slider.css";
@import "modal.css";
@import "basked.css";
body{
    margin: 0;
    font-family: 'Bradley Hand ITC', sans-serif;
}
a{
    text-decoration: none;
}
.header {
    padding-top: 20px;
    display: flex;
    background: #ffffff;
    justify-content: center;
    align-items: center;
}
.menu {
    padding-top: 25px;
    padding-bottom: 25px;
}
.header .menu ul {
    display: flex;
    list-style: none;
}

.header .menu a {
    color: #000000;
    /*font-size: 20 px;*/
    text-decoration: none;
    padding: 20px 30px;
    border-radius: 100px;
    transition: 1s;
}

.menu a:hover{
    transition: 1s;
    /*background: #f6f7f8;*/
    color: pink;
    /*border-radius: 100px;*/
}




#burg {
    background: #ffffff;
    padding: 32px;
}
span{
    display: flex;
    margin: 8px;
    width: 30px;
    height: 1px;
    background: #C3C3C3;
}
.mob-head{
    display: flex;
    margin-right: auto;
}
.mobile-menu{
    display: flex;
    width: 100%;
    background: #ffffff;
    flex-direction: column;
    /*position: absolute;*/
    /*margin-right: 300px;*/

}

.header .mobile-menu ul {
    list-style: none;
}

.header .mobile-menu ul li {
    padding-bottom: 32px;
    padding-top: 32px;
    transition: 1s;
}

.header .mobile-menu a {
    color: #000000;
    /*font-weight: bold;*/
    /*font-size: 20px;*/
    text-decoration: none;
    /*padding: 32px;*/
    /*padding-right: 50px;*/
    /*padding-left: 50px;*/
    transition: 1s;
    /*border-radius: 100px;*/

}
.mobile-menu a:hover{
    transition: 1s;
    /*background: #f6f7f8;*/
    color: pink;
    /*border-radius: 100px;*/
}

.mob-head{
    display: none;
}


.minlog {
    /*display: none;*/
    height: 100px;
    width: 100px;
}
footer{
    background-color: burlywood;
    height: 300px;
    width: auto;
}








/*gallerys phone*/
.gallery{
    display: flex;
    justify-content: center;
}
.gallerys{
    display: inline-block;
    margin: 10px 5px 10px 5px;
    height: 300px;
    width: 300px;
}
.gallerys img{
    height: 300px;
    width: 300px;
}
@media screen and (max-width: 1200px) {
    .gallery{
        display: inline-block;
        margin-left: 130px;
    }
    .col-s-6{
        width: 50%;
    }
    .gallerys{
        width: 400px;
        margin: 10px 10px 10px 10px;
    }
    .gallerys img{
        height: 300px;
        width: 400px;
    }
}
@media screen and (max-width: 816px) {
    .slide img{
        height: 350px;
    }
    .gallery{
        display: block;
    }
}
@media screen and (max-width: 440px) {
    .gallery{
        margin: 0;
    }
    #show{
        height: 350px;
    }
    .slide img{
        height: 250px;
    }
    .gallery{
        display: flex;
        flex-direction: column-reverse;

    }
    .col-xs-12{
        width: 100%;
        margin: 0;

    }
    .gallerys img{
        height: 300px;
        width: 400px;
    }
}
/*gallerys phone end*/

@media screen and (max-width: 1260px) {

    .mob-head{
        display:block;
    }

    .mobile-menu{
        display:none;
    }

    .header .menu ul {
        display: none;
    }

    .minlog {
        display: block;
        height: 100px;
        width: 100px;
    }

}

